In [1]:
#Step 1: Data Understanding
#1. Load the dataset into Python using pandas.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=df = pd.read_csv("D:\MUFG\employee_attrition Random forest.csv")

In [2]:
#2. Display the first 5 rows and describe each feature.
df.head()

,Age,Department,Years_At_Company,Salary,Overtime,JobSatisfaction,Attrition
0,29,Sales,12,38,No,3,No
1,23,Finance,12,98,No,1,Yes
2,39,Tech,19,46,No,1,No
3,37,Finance,14,46,No,5,Yes
4,36,Tech,16,90,No,4,Yes

In [3]:
#3. Check for missing values and handle them if any.
df.shape

(50, 7)

In [4]:
df.isnull().sum()

Age                 0
Department          0
Years_At_Company    0
Salary              0
Overtime            0
JobSatisfaction     0
Attrition           0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               50 non-null     int64
 1   Department        50 non-null     object
 2   Years_At_Company  50 non-null     int64
 3   Salary            50 non-null     int64
 4   Overtime          50 non-null     object
 5   JobSatisfaction   50 non-null     int64
 6   Attrition         50 non-null     object
dtypes: int64(4), object(3)
memory usage: 2.9+ KB

In [7]:
df.describe()

            Age  Years_At_Company      Salary  JobSatisfaction
count  50.00000          50.00000   50.000000        50.000000
mean   35.22000          10.20000   65.340000         3.080000
std     8.78842           6.38557   22.293598         1.626816
min    22.00000           0.00000   30.000000         1.000000
25%    27.25000           5.00000   46.000000         1.250000
50%    35.50000          10.00000   60.500000         3.000000
75%    42.25000          16.00000   86.750000         5.000000
max    54.00000          20.00000  100.000000         5.000000

In [8]:
#Step 2: Data Preprocessing
#4. Convert categorical variables (Department, Overtime) into numerical form.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Department"] = le.fit_transform(df["Department"]) 
df["Overtime"] = le.fit_transform(df["Overtime"])

In [9]:
#5.Split the dataset into features (X) and target (y).
X = df.drop("Attrition", axis=1)
y = df["Attrition"]

In [10]:
#6. Perform train-test split (70% train, 30% test).
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
#Step 3: Model Building
#7. Train a Random Forest Classifier on the training set.
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=42)
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [13]:
#8. Print the number of trees and features used in training.
print("Number of trees:", len(rfc.estimators_))
print("Number of features:", rfc.n_features_in_)

Number of trees: 100
Number of features: 6

In [14]:
#Step 4: Model Evaluation
#9. Predict on the test set.
y_pred = rfc.predict(X_test)

In [15]:
#10. Evaluate performance using accuracy, confusion matrix, and classification report.
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5333333333333333
Confusion Matrix:
 [[4 3]
 [4 4]]
Classification Report:
               precision    recall  f1-score   support

           0       0.50      0.57      0.53         7
           1       0.57      0.50      0.53         8

    accuracy                           0.53        15
   macro avg       0.54      0.54      0.53        15
weighted avg       0.54      0.53      0.53        15

In [16]:
#Step 5: Model Tuning
#11. Experiment with n_estimators, max_depth, and criterion. Compare results.
rfc_tuned = RandomForestClassifier(n_estimators=200, max_depth=5, criterion="entropy", random_state=42)
rfc_tuned.fit(X_train, y_train)
y_pred_tuned = rfc_tuned.predict(X_test)

print("Tuned Accuracy:", accuracy_score(y_test, y_pred_tuned))

Tuned Accuracy: 0.3333333333333333

In [17]:
#12. Check feature importances and identify the most important predictors of attrition.
import numpy as np
importances = rfc_tuned.feature_importances_
print(dict(zip(X.columns, np.round(importances, 3))))

{'Age': 0.226, 'Department': 0.091, 'Years_At_Company': 0.244, 'Salary': 0.237, 'Overtime': 0.044, 'JobSatisfaction': 0.159}

In [18]:
#Step 6: Insights & Conclusion
#13. Which features influence employee attrition the most?
print("Top predictors of attrition:", X.columns[np.argsort(importances)[-3:]])

Top predictors of attrition: Index(['Age', 'Salary', 'Years_At_Company'], dtype='object')

In [19]:
#14. If you were the HR manager, how would you use these insights to reduce attrition?
print("If I were HR, I would focus on reducing overtime, improving work-life balance and supporting departments with high attrition risk.")

If I were HR, I would focus on reducing overtime, improving work-life balance and supporting departments with high attrition risk.