In [2]:
#tuples are ordered and immutable(non alterable)
tup1=('hello',1,1997)
print(tup1)

('hello', 1, 1997)

In [3]:
tup=(3,)
print(tup)

(3,)

In [5]:
tup = (3)
print(type(tup))

<class 'int'>

In [6]:
tup = (3,)
print(type(tup))

<class 'tuple'>

In [7]:
tup =()
print(tup)

()

In [8]:
tup =(,)
print(tup)

SyntaxError: invalid syntax (2360152904.py, line 1)

In [9]:
#tuples take list as argument and makes sequence into a tuple(by usingg tuple function)
tup=tuple([1,2,3])
print(tup)

(1, 2, 3)

In [10]:
#add element in tuple
t=(1,2,3,4,5)
t=t+(7,)
print(t)

(1, 2, 3, 4, 5, 7)

In [17]:
#python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.
n = int(input("Enter number of employees: "))
salaries = []
for i in range(n):
    salary = 'Enter salary of employee ' + str(i+1) + ':'
    sal=int(input(salary))
    salaries.append(sal)
print("Minimum salary:", min(salaries))
print("Maximum salary:", max(salaries))

Enter number of employees:  2
Enter salary of employee 1: 436478
Enter salary of employee 2: 645342

Minimum salary: 436478
Maximum salary: 645342

In [18]:
len(t)

6

In [19]:
#list to tuple
seq=[1,2,3]
print(tuple(seq))

(1, 2, 3)

In [20]:
min(t)
max(t)

7

In [ ]:
#Function is block of organized,reusable code that is used to perform single,relational operations
#Modules is a ffile containing python definitions and statements which we import while executing specific program
#User defined functions
#inbuilt functions

In [21]:
t=tuple()
t=t+('PYTHON',)
print(t)

('PYTHON',)

In [22]:
print(len(t))

1

In [23]:
t1=(10,20,30)
t2=t1+t
print(len(t2))

4

In [24]:
t3=t1*2
print(t3)

(10, 20, 30, 10, 20, 30)

In [25]:
#Write a program to input ‘n’ employee numbers and names and store them in a dictionary. Display dictionaries employee’s names(key) and numbers(values) together.
n = int(input("Enter number of employees: "))
employees = {}
for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number
print("\nEmployee Details:")
print(employees)

Enter number of employees:  2
Enter name of employee 1:  Harry
Enter employee number of Harry:  12345
Enter name of employee 2:  Sam
Enter employee number of Sam:  23456

Employee Details:
{'Harry': '12345', 'Sam': '23456'}

In [28]:
print("\nEmployee Names:",(employees.keys()))
print("Employee Numbers:",(employees.values()))

Employee Names: dict_keys(['Harry', 'Sam'])
Employee Numbers: dict_values(['12345', '23456'])